body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
}

#table {
    padding: 90px 60px;
    border: 4px solid red;
    border-radius: 50px;
    background: linear-gradient(#9fe558 0%, #8edb3d 40%, #67c200 100%) no-repeat no-repeat;
}

.hand {
    padding: 10px;
    border-radius: 3px;
    height: 100px;
    background: #9fe558;
    margin-bottom: 10px;
}

.hand label {
    float: left;
    margin: 0 5px;
}

.hand img {
    width: 60px;
    display: block;
    float: left;
    margin-left: 5px;
}


#messages {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
    height: 2em;
}
.buttons button:active {
    color: white;
    background: linear-gradient(#666, #222);
    border: 1px solid black;
}

.buttons {
    text-align: center;
}

.buttons button {
    border: 1px solid #666;
    border-radius: 5px;
    background: linear-gradient(#eee, #ccc);
    font-size: 1em;
    padding: 5px 10px;
}


.card {
    height: 100%;
}
/* end */